extends ./head
block content
  if student != null
    form(action="/student/" + student.id, method="POST")
        input(name="firstname" value=student.firstname)
        input(name="lastname" value=student.lastname)
        input(name="attending" type="checkbox" id="attending")
        label(for="attending") Пришёл на занятие
        input(type="submit" value='Отправить')
    div #{student.firstname} #{student.lastname} #{student.secondname} #{student.number} #{student.data}
  else
    div Студент с таким id не найден